@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700, bold;
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
