:root {
  --color-gray: #949494;
  --color-blue-700: #36384d;
  --color-blue-800: #242742;
  --color-red: #ff6155;
  --color-red--light: #ff605579;
  --color-red-secondary: #ffe7e6;
  --gradient: linear-gradient(#ff6155, #ff527b);

  --fs-pr1-d: 5.6rem;
  --fs-pr1-m: 4rem;
  --lh-pr1: 1;

  --fs-pr2: 1.6rem;
  --lh-pr2: 1.5;

  --fs-pr3: 1.2rem;
  --lh-pr3: 1.5;

  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-500: 4rem;
  --space-600: 4.8rem;
  --space-800: 6.4rem;
  --space-900: 7.2rem;
  --space-1300: 10.4rem;
}

html {
  font-size: 62.5%;
  font-family: "roboto";
}

body {
  min-height: 100vh;
}

/* inputs */
.form--input {
  display: block;
  width: 100%;
  outline: 0;
  border: 1px solid var(--color-gray);
  border-radius: 0.8rem;
  font-size: var(--fs-pr2);
  font-weight: 400;
  line-height: var(--lh-pr2);
  color: var(--color-gray);
  padding: 1.6rem 2.4rem;
  transition: all 0.2s;
  margin: 10rem 0;
}

.form--input:focus {
  border: 1px solid var(--color-blue-800);
  color: var(--color-blue-800);
}

.input--notvalid,
.input--notvalid:focus {
  color: var(--color-red);
  background-color: var(--color-red-secondary);
  border: solid 1px var(--color-red);
}

.input--notvalid::placeholder {
  color: var(--color-red);
  background-color: var(--color-red-secondary);
}

/* brn */
.btn {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: var(--fs-pr2);
  font-weight: 700;
  color: white;
  line-height: var(--lh-pr2);
  padding: 1.6rem 0;
  border-radius: 0.8rem;
  background: var(--color-blue-800);
  cursor: pointer;
  pointer-events: all;
  transition: box-shadow 1s;
}

.btn:hover,
.btn:active {
  background: var(--gradient);
  box-shadow: 0px 16px 32px var(--color-red--light);
}
