:root {
  --color-gray: #949494;
  --color-blue-700: #36384d;
  --color-blue-800: #242742;
  --color-red: #ff6155;
  --color-red--light: #ff605579;
  --color-red-secondary: #ffe7e6;
  --gradient: linear-gradient(#ff6155, #ff527b);

  --fs-pr1-d: 5.6rem;
  --fs-pr1-m: 4rem;
  --lh-pr1: 1;

  --fs-pr2: 1.6rem;
  --lh-pr2: 1.5;

  --fs-pr3: 1.2rem;
  --lh-pr3: 1.5;

  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-500: 4rem;
  --space-600: 4.8rem;
  --space-800: 6.4rem;
  --space-900: 7.2rem;
  --space-1300: 10.4rem;
}

html {
  font-size: 62.5%;
  font-family: "roboto";
}

body {
  min-height: 100vh;
  background-color: var(--color-blue-700);
  color-interpolation-filters: var(--color-blue-800);
}

/* inputs */
.form--input {
  display: block;
  width: 100%;
  outline: 0;
  border: 1px solid var(--color-gray);
  border-radius: 0.8rem;
  font-size: var(--fs-pr2);
  font-weight: 400;
  line-height: var(--lh-pr2);
  color: var(--color-gray);
  padding: 1.6rem 2.4rem;
  transition: all 0.2s;
}

.form--input:focus {
  border: 1px solid var(--color-blue-800);
  color: var(--color-blue-800);
}

.input--notvalid,
.input--notvalid:focus {
  color: var(--color-red);
  background-color: var(--color-red-secondary);
  border: solid 1px var(--color-red);
}

.input--notvalid::placeholder {
  color: var(--color-red);
  background-color: var(--color-red-secondary);
}

/* brn */
.btn {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: var(--fs-pr2);
  font-weight: 700;
  color: white;
  line-height: var(--lh-pr2);
  padding: 1.6rem 0;
  border-radius: 0.8rem;
  background: var(--color-blue-800);
  pointer-events: all;
  transition: box-shadow 0.2s;
}
@media screen and (min-width: 64rem) {
  .btn {
    cursor: pointer;
  }
}

.btn:hover,
.btn:active {
  background: var(--gradient);
  box-shadow: 0px 16px 32px var(--color-red--light);
}

/* moudal */
.moudal {
  max-width: 50.4rem;
  padding: var(--space-800);
  background-color: white;
  border-radius: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.25);
}

.moudal--title {
  font-size: var(--fs-pr1-d);
  font-weight: bold;
}

.moudal--discription {
  font-size: var(--fs-pr2);
  font-weight: 400;
  color: var(--color-blue-700);
}

.check--icon {
  max-width: 6.4rem;
}

/* main page */

.newsletter--singup {
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
}
.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}
.newsletter--intro {
  padding: var(--space-500) var(--space-300);
  display: flex;
  flex-direction: column;
  gap: var(--space-500);
}

.form--header {
  display: flex;
  margin-bottom: var(--space-100);
}
.form--footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.newsletter__title {
  font-size: clamp(var(--fs-pr1-m), 10vw, var(--fs-pr1-d));
  line-height: var(--lh-pr1);
  font-weight: 700;
}

.newsletter__description {
  font-size: var(--fs-pr2);
  line-height: var(--lh-pr2);
  font-weight: 400;
}

.newsletter--list {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.list--item {
  background: url(../images/icon-success.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 23px;
  padding-left: 3.7rem;
  font-size: var(--fs-pr2);
  line-height: var(--lh-pr2);
  font-weight: 400;
}
